<hr class="my-0 mx-auto w-75 bg-white" />
<footer class="text-light m-0">
    <div class="px2 py-1 m-0">
        <h3 class="text-center my-5 text-muted">
            <em>OTT-Platform Designed & Developed By
                <span class="text-light">Dev-Geeks</span>
            </em>
        </h3>
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <div>
                        <em>
                            <h4>Arul Murugan R</h4>
                        </em>
                        <p class="text-light text-center">
                            <a class="text-light" href="https://www.linkedin.com/in/arul-murugan-r-47a207209/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div>
                        <em>
                            <h4>Balaguru S</h4>
                        </em>
                        <p class="text-light text-center">
                            <a class="text-light" href="https://www.linkedin.com/in/balaguru-s-40090022b/"><i
                                    class="fa-brands fa-linkedin fa-2x"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div>
                        <em>
                            <h4>Aadhithya S</h4>
                        </em>
                        <p class="text-light text-center">
                            <a class="text-light" href="https://www.linkedin.com/in/aadhithya-s-0911a3233/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>