<div class="container mt-5 px-5 footer">
    <div class="w-md-50 mx-auto text-white pb-5">
        <h2 class="my-3 ms-0">OTT Platform</h2>
        <h4 class="mb-3">Designed By : Dev Geeks</h4>
        <h5 class="mb-3">Members: <a class="text-decoration-none text-light"href="https://www.linkedin.com/in/balaguru-s-40090022b/" >Balaguru S</a> • <a class="text-decoration-none text-light"href="https://www.linkedin.com/in/arul-murugan-r-47a207209/" >Arul Murugan R</a> • <a class="text-decoration-none text-light"href="https://www.linkedin.com/in/aadhithya-s-0911a3233/" >Aadhithya S</a></h5>
    </div>
</div>