body {
	background-color: #320d3e;
	color: white;
}
.ott_card {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
}
.ott_cards {
	display: flex;
}
img {
	transition: ;
}
.ott_card:hover {
	width: 300px;
}
