<% layout("layout/boilerplate") %>

    <section class="view-page pb-5">
        <div class="top-view">
            <div class="container-fluid h-100">
                <div class="content my-auto">
                    <div class="inner mx-2">
                        <h1 class="movie-title">Stranger Things</h1>
                        <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloribus
                            delectus corporis ducimus, nam praesentium quia voluptate, optio, temporibus ea
                            earum
                            placeat a! Magnam veritatis sint soluta earum, quos voluptas.
                        </p>
                        <small class="text-center mb-3 d-block fw-bold small-info">3 seasons • 2019 • Drama •
                            U/A •
                            English</small>
                        <button class="btn btn-sm btn-light watch-now-btn px-2 mb-2"><i
                                class="fas fa-play me-2"></i><span class="fw-bold">Watch now</span></button>
                        <button class="btn btn-sm add-to-playlist-btn border-white border-2 mb-2"><i
                                class="fas fa-plus me-2"></i>Add to playlist</button>
                        <div class="d-inline-block float-lg-end icon-btns">
                            <button class="btn btn-sm btn-light mb-2 px-1 py-0"><i
                                    class="bi bi-share-fill"></i></button>
                            <button class="btn btn-sm menu-icon-btn mb-2 px-1 py-0"><i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </div>
                <div class="image-content h-100">
                    <img class="h-100" src="/assets/stplay1.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <select>
                    <option selected>Season 1</option>
                    <option value="1">Season 2</option>
                    <option value="2">Season 3</option>
                </select>
                <div class="cards d-flex justify-content-between">
                    <div class="card-image">
                        <img class="h-100" src="assets/images/episode1.png" alt="">
                    </div>
                    <div class="card-content">
                        <h2>Chapter 1 : The Vanishing of Will Byers</h2>
                        <div class="label my-4"><span>47 min</span><span>Duffer brothers</span><span>2016</span></div>
                        <div class="info-content">At the U.S. Dept. of Energy an unexplained event occurs. Then when a young Dungeons
                            and Dragons playing boy named Will disappears after a night with his friends, his mother Joyce and
                            the town of Hawkins are plunged into darkness</div>
                    </div>
                </div>
                <div class="cards d-flex justify-content-between">
                    <div class="card-image">
                        <img class="h-100" src="assets/images/episode2.png" alt="">
                    </div>
                    <div class="card-content">
                        <h2>Chapter 2 : The Weirdo on Maple Street</h2>
                        <div class="label my-4"><span>55 min</span><span>Duffer brothers</span><span>2016</span></div>
                        <div class="info-content">Mike hides the mysterious girl in his house. Joyce gets a strange phone call.</div>
                    </div>
                </div>
                <div class="cards d-flex justify-content-between">
                    <div class="card-image">
                        <img class="h-100" src="assets/images/episode3.png" alt="">
                    </div>
                    <div class="card-content">
                        <h2>Chapter 3 : Holly, Jolly</h2>
                        <div class="label my-4"><span>51 min</span><span>Duffer brothers</span><span>2016</span></div>
                        <div class="info-content">An increasingly concerned Nancy looks for Barb and finds out what Jonathan's been up to. Joyce is convinced Will is
                        trying to talk to her.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    